.participateContainer{
    margin: 5rem 0;
    position: relative;
}
.participateContainer img{
    width: 100%;
}
.participateContainer h1{
    position: absolute;
    color: var(--yellow);
    font-size: 6vw;
    width: 20vw;
    top: 50%;
    left: 15%;
}