.participateContainer{
    margin: 3rem 0;
    position: relative;
    /* margin-bottom: ; */
}
.participateContainer img{
    width: 100%;
}
.participateContainer h1{
    /* position: absolute; */
    color: var(--yellow);
    font-size: 6vw;
    width: 80vw;
    bottom: -30%;
    left: 4%;
    margin-left: 4vw;
}