@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

.leaderboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    color: #fff;
    overflow: hidden;
}

.leaderboard .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.leaderboard .title .text {
    padding: 0 5rem;
    text-align: center;
}

.leaderboard .title .text h1 {
    font-size: 6rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.leaderboard .title .text b {
    color: var(--yellow);
}

.leaderboard .title .text p {
    font-size: 1.8rem;
    color: #626262;
}

.leaderboard .title .arrow {
    transform: scaleX(-1);
    height: 15rem;
}

.leaderboard .container {
    overflow: visible;
    position: relative;
    background-image: url("../../assets/leadbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    font-family: 'Fira Code', monospace;
}

.leaderboard .container .title {
    width: fit-content;
    padding-left: 4rem;
    padding-top: 2rem;
    display: inline-block;
    font-size: 1.2rem;
}

.leaderboard .container .line {
    width: 80%;
    height: 0.1rem;
    margin-top: 2rem;
    padding-left: 4rem;
}

.leaderboard .container .hacker {
    position: absolute;
    right: 0;
    top: -8rem;
    height: 20rem;
}

.rankList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rankList .card {
    width: max-content;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.rankList .card .profileImg {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
}

.rankList .card .cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.rankList .card .cardContent .content {
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

.rankList .card .cardContent .head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rankList .card .cardContent .head p:first-child {
    color: #fff;
    padding-right: .8rem;
    border-right: 1px solid #fff;
}

.rankList .card .cardContent .head p:nth-child(2) {
    font-size: 2rem;
    color: var(--yellow);
}

.rankList .card .cardContent .head .point {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.rankList .card .cardContent .head .point span {
    color: green;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    border-bottom: 1rem solid green;
    display: block;
}

.rankList .card .cardContent .head .point p {
    font-size: 1.2rem;
    color: #fff;
}

@media(width<=1210px) {
    .leaderboard .title .text h1 {
        font-size: 4rem;
    }

    .leaderboard .title .text p {
        font-size: 1.5rem;
    }

    .leaderboard .title .arrow {
        height: 11rem;
    }

    .rankList .card {
        padding: 1rem;
    }

    .rankList .card .cardContent .head p:nth-child(2) {
        font-size: 2rem;
    }

    .rankList .card .cardContent .content {
        font-size: 1.5rem;
    }
}

@media(width<980px) {
    .rankList {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 5rem;
    }

    .rankList .card {
        padding: 0;
    }
}

@media(width<=820px) {
    .leaderboard .title .text {
        padding: 0 2rem;
    }

    .leaderboard .title .text h1 {
        font-size: 3rem;
    }

    .leaderboard .title .text p {
        font-size: 1rem;
    }

    .leaderboard .title .arrow {
        height: 8rem;
    }

    .leaderboard .container .title {
        padding-left: 0;
    }

    .leaderboard .container .line {
        padding-left: 0;
    }

    .leaderboard .container .hacker {
        top: -3rem;
        height: 14rem;
    }

    .rankList .card .cardContent .head p:nth-child(2) {
        font-size: 1.8rem;
    }

    .rankList .card .cardContent .content {
        font-size: 1.2rem;
    }
}

@media(width<=580px) {
    .leaderboard .container .top .title {
        position: relative;
        left: -1.5rem;
    }

    .leaderboard .container .top .line {
        position: relative;
        left: -1.5rem;
    }

    .leaderboard .container .hacker {
        height: 10rem;
        top: 2rem;
    }

    .leaderboard .title .text h1 {
        font-size: 2.2rem;
    }

    .leaderboard .title .text p {
        font-size: .8rem;
    }

    .leaderboard .title .arrow {
        height: 4rem;
    }

    .rankList .card .cardContent .head p:nth-child(2) {
        font-size: 1rem;
    }

    .rankList .card .cardContent .content {
        font-size: .9rem;
    }
}

@media(width<=450px) {
    .leaderboard .title .arrow {
        display: none;
    }

    .rankList {
        margin-top: 7rem;
    }

    .rankList .card {
        padding: 0;
    }

    .leaderboard .container .hacker {
        height: 11rem;
        top: 3rem;
    }

    .rankList .card .cardContent .head .point span {
        border-left: .6rem solid transparent;
        border-right: .6rem solid transparent;
        border-bottom: .8rem solid green;
    }

    .rankList .card .cardContent .head .point p {
        font-size: 1rem;
        color: #fff;
    }
}

@media(width<=390px) {
    .container .top .title {
        font-size: .8rem;
    }

    .rankList .card .cardContent .head p:nth-child(2) {
        font-size: .8rem;
    }

    .rankList .card .cardContent .content {
        font-size: .75rem;
    }
}

@media(width<=300px) {
    .container .top .title {
        font-size: .8rem;
    }

    .leaderboard .container .hacker {
        height: 8rem;
        top: 3.5rem;
    }

    .rankList .card .cardContent .head {
        gap: .5rem;
    }

    .rankList .card .cardContent .head p:first-child {
        font-size: .6rem;
        padding-right: .5rem;
    }

    .rankList .card .cardContent .head p:nth-child(2) {
        font-size: .6rem;
    }

    .rankList .card .cardContent .content {
        font-size: .65rem;
    }
}